{%extends 'signupgnomies/base.html'%} {%block content%}
<h1>About</h1>
<p>
  Thank you for volunteering for Ms. Sytsma’s class activities. This signup page
  was created to bypass any ads and hard-to-navigate sign up pages previously
  used. We hope this will create a more inclusive space for parents to
  participate in classroom activities. Please feel free to reach out to Brittni
  Packard Rodrigues at bpackardrodrigues@gmail.com, Tarrell Packard Rodrigues at
  tarrellrodrigues@gmail.com, or Mary Sytsma at msytsma@juniperridgeschool.org
  with any questions or comments. We are open to suggestions on how to improve
  this sign up method.
</p>
{%endblock content%}
